/* 
Colors
*/

:root {
  --background-color-1: #ebf4f5;
  --backgound-color-2: #d9e5ee;
  --main-color: #0f3154;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a:hover {
  color: var(--main-color);
}

.header {
  background-color: var(--background-color-1);
  padding: 1em;
  position: relative;
}

.nav-bar {
  position: absolute;
  top: 5%;
  right: 10%;
}

.nav-bar ul {
  display: flex;
  justify-content: space-between;
  padding: 0;
  list-style: none;
}

.nav-bar ul li {
  padding: 0 5% 0 5%;
}

.nav-bar ul li a {
  text-decoration: none;
  font-weight: 600;
}

.section-1 {
  background-color: var(--backgound-color-2);
  padding: 1em;
}
.section-2 {
  background-color: var(--background-color-1);
  padding: 1em;
}

.section-3 {
  background-color: var(--backgound-color-2);
  padding: 1em;
}
.section-4 {
  background-color: var(--background-color-1);
  padding: 1em;
}

.footer {
  background-color: var(--main-color);
  padding: 1em;
  color: #ee4923;
  font-weight: bold;
}

/* ~~~~~~~~~~~~~~~ Mobile Styling ~~~~~~~~~~~~~~~~ */

@media (min-width: 300px) and (max-width: 768px) {
  * {
    margin: 0;
    padding: 0;
  }

  body {
    background-color: #de3163;
  }
}
